/*****************************************************
 * Bar CSS
 *****************************************************/
<style type="text/css" media="screen">
/* BAR CHART */
#bar { list-style:none;  }
#bar li { }

/* Last bottom should have a shadow */
#bar li div#bottom { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom { position:relative; margin:5px 0; 
	margin-left:40px; margin-top:35px;
	height:20px; 
	width:0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#debdad), color-stop(4%,#e8d2cd), color-stop(8%,#e5c1b4), color-stop(15%,#df8866), color-stop(19%,#dc714d), color-stop(23%,#d96138), color-stop(27%,#d35930), color-stop(31%,#ce542f), color-stop(46%,#c9552e), color-stop(54%,#bd4d2b), color-stop(58%,#ba4e2b), color-stop(65%,#b84f2a), color-stop(81%,#bb4f2a), color-stop(85%,#c3552b), color-stop(88%,#c65830), color-stop(92%,#ca6033), color-stop(96%,#d1693d), color-stop(100%,#d2744b)); 
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom div.infobox { padding:40px 0 0 600px;	
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom { z-index:98; height:150px; margin-top:100px;}



/* Last bottom should have a shadow */
#bar li div#bottom2 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom2 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(3%,#d4d4d4), color-stop(10%,#eaeaea), color-stop(14%,#ebebeb), color-stop(24%,#d9d9d9), color-stop(34%,#cdcdcd), color-stop(48%,#c8c8c8), color-stop(55%,#bdbdbd), color-stop(59%,#bbbbbb), color-stop(69%,#b7b7b7), color-stop(76%,#b7b7b7), color-stop(79%,#b1b1b1), color-stop(83%,#b4b4b4), color-stop(90%,#b2b2b2), color-stop(93%,#bcbcbc), color-stop(97%,#c3c3c3), color-stop(100%,#c5c5c5));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom2 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom2 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom2 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom2 { z-index:98; height:150px; }




/* Last bottom should have a shadow */
#bar li div#bottom3 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom3 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b17b2d), color-stop(3%,#d5b13c), color-stop(6%,#d0b14a), color-stop(10%,#d7ca9c), color-stop(13%,#ddd6bd), color-stop(16%,#ded1a3), color-stop(23%,#dfc35e), color-stop(26%,#ddbb49), color-stop(29%,#deb03f), color-stop(32%,#daad3b), color-stop(39%,#d7ab3b), color-stop(48%,#d49c36), color-stop(55%,#c58d31), color-stop(58%,#c58c30), color-stop(65%,#c79433), color-stop(68%,#c39132), color-stop(74%,#c4842e), color-stop(77%,#c48830), color-stop(81%,#c99835), color-stop(84%,#cb9f37), color-stop(90%,#d0b045), color-stop(94%,#d1b54c), color-stop(97%,#d2b053), color-stop(100%,#b0934d)); 
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom3 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom3 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom3 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom3 { z-index:98; height:150px; }

/* Last bottom should have a shadow */
#bar li div#bottom4 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom4 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
/*	width:50px; 
*/	
/*	-moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
*/	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom4 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom4 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom4 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom4 { z-index:98; height:150px; }



/* ################### */

#bar li div#bottom5 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom5 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
/*	width:50px; 
*/	
/*	-moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
*/	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#debdad), color-stop(4%,#e8d2cd), color-stop(8%,#e5c1b4), color-stop(15%,#df8866), color-stop(19%,#dc714d), color-stop(23%,#d96138), color-stop(27%,#d35930), color-stop(31%,#ce542f), color-stop(46%,#c9552e), color-stop(54%,#bd4d2b), color-stop(58%,#ba4e2b), color-stop(65%,#b84f2a), color-stop(81%,#bb4f2a), color-stop(85%,#c3552b), color-stop(88%,#c65830), color-stop(92%,#ca6033), color-stop(96%,#d1693d), color-stop(100%,#d2744b)); 
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom5 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom5 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom5 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom5 { z-index:98; height:150px; }


#bar li div#bottom6 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom6 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
/*	width:50px; 
*/	
/*	-moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
*/	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(3%,#d4d4d4), color-stop(10%,#eaeaea), color-stop(14%,#ebebeb), color-stop(24%,#d9d9d9), color-stop(34%,#cdcdcd), color-stop(48%,#c8c8c8), color-stop(55%,#bdbdbd), color-stop(59%,#bbbbbb), color-stop(69%,#b7b7b7), color-stop(76%,#b7b7b7), color-stop(79%,#b1b1b1), color-stop(83%,#b4b4b4), color-stop(90%,#b2b2b2), color-stop(93%,#bcbcbc), color-stop(97%,#c3c3c3), color-stop(100%,#c5c5c5));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom6 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom6 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom6 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom6 { z-index:98; height:150px; }


#bar li div#bottom7 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom7 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
/*	width:50px; 
*/	
/*	-moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
*/	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b17b2d), color-stop(3%,#d5b13c), color-stop(6%,#d0b14a), color-stop(10%,#d7ca9c), color-stop(13%,#ddd6bd), color-stop(16%,#ded1a3), color-stop(23%,#dfc35e), color-stop(26%,#ddbb49), color-stop(29%,#deb03f), color-stop(32%,#daad3b), color-stop(39%,#d7ab3b), color-stop(48%,#d49c36), color-stop(55%,#c58d31), color-stop(58%,#c58c30), color-stop(65%,#c79433), color-stop(68%,#c39132), color-stop(74%,#c4842e), color-stop(77%,#c48830), color-stop(81%,#c99835), color-stop(84%,#cb9f37), color-stop(90%,#d0b045), color-stop(94%,#d1b54c), color-stop(97%,#d2b053), color-stop(100%,#b0934d)); 
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom7 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom7 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom7 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom7 { z-index:98; height:150px; }


#bar li div#bottom8 { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Bar bottom */
#bar li div#bottom8 { position:relative; margin:5px 0; 
	margin-left:40px; 
	margin-top:30px;
	height:20px; 
	width:0px; 
/*	width:50px; 
*/	
/*	-moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
*/	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom8 div.infobox { padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div#bottom8 div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div#bottom8 div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
}

#iphone div#bottom8 { z-index:98; height:150px; }






background:-webkit-gradient(linear, 0 top, 0 bottom, from(#1a6c90), to(#14506b));


</style>